//elz style ver1.0

@charset "utf-8";
@import "../../lib/mixin.less";

@dir-img: "./material/";
@img-ext: ".png";

@font-a: "";


@size-lc-width: 180px;
@size-cc-width: 480px;
@size-rc-width: 180px;
@size-brc-width: @size-cc-width + @size-rc-width;

@c-main      : #17D96F;
@c-main2     : @c-main - #111;
@c-main3     : @c-main - #222;
@c-sub       : #0f8;
@c-deep      : green;
@back-color  : #F6F6F6;
@c-accent    : #01095E;
@c-font      : #000;
@c-font-back : #fff;

@c-noteA : yellow;
@c-noteB : @c-main2;
@c-noteC : @c-main3;

@c-box-back  : #fff;
@size-border : 3px;
@c-menu-list : black;
@num-menu    : 5;

@box-title-height   : 23px;
@size-header-height : 50px;

@border-thin: 1px;;

#wrapper {
    margin-top: 100px;
}

.container>div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.row-listbox {
}




#user-box-sm {
}

